@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@300&family=Roboto+Mono&display=swap');

body {
    margin-top: 1rem;
    margin-right: 20%;
    margin-left: 20%;
}
header {
    text-align: center;
    background-color: #1c6e8c;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 3px;
}
#examples {
    display: flex;
    flex-direction: row;
    justify-items: stretch;
    margin-top: 10px;
    margin-bottom: 10px;
}
#principle-1 {
    text-align: center;
    border-style: solid;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #d0ccd0;
    margin-right: 2.5px;
    max-width: 33%;
}
img {
    max-width: 100%;
}
#principle-2 {
    text-align: center;
    border-style: solid;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #d0ccd0;
    margin-right: 2.5px;
    margin-left: 2.5px;
    max-width: 33%;
}
#principle-3 {
    text-align: center;
    border-style: solid;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #d0ccd0;
    margin-left: 2.5px;
    max-width: 33%;
}
.company-link {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
}
.explanation {
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    padding: 4px;
    font-size: 1.2em;
}
footer {
    background-color: #1c6e8c;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-width: 3px;
}
.footer-text {
    font-size: 1.3em;
    font-family: 'Raleway', sans-serif;
}
h1 {
    padding-left: 5rem;
    font-size: 2em;
    font-family: 'Roboto Mono', monospace;
}
h2 {
    font-family: 'Lato', sans-serif;
}
h3 {
    font-family: 'Lato', sans-serif;
}
#principle-title {
    margin-bottom: -10px;
    font-size: 1.5em;
    text-decoration: underline;
}
#company-title {
    font-size: 1em;
}
