@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather&family=Raleway:wght@300&family=Roboto+Mono&display=swap');

body {
    background-color: #fbfcff;
}
div.title-bar {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: #b9d8c2;
    padding: 2px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 2rem;
}
div.lesson-links {
    background-color: #fbfcff;
    padding: 2px;
    padding-left: 2rem;
    line-height: 30px;
    font-family: 'Raleway', sans-serif;
    border-left: 6px solid #b9d8c2;
    border-right: 6px solid #b9d8c2;
}
ul {
    font-size: 1.3em;
}
h1 {
    font-size: 2em;
    font-family: 'Merriweather', serif;
    text-align: center;
}
footer {
    background-color: #b9d8c2;
    padding: 2px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    text-align: center;
    color: #fbfcff;
}
.personal-photo {
    box-shadow: 5px 5px 2px grey;
    max-width: 400px;
}
a:hover {
    color: red;
    transition: .3s;
}
@media only screen and (min-width: 850px) {
    body {
        margin-right: 20%;
        margin-left: 20%;
    }
}