@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather&family=Raleway:wght@300&family=Roboto+Mono&display=swap');

body, button { /* For some reason button doesn't inherit from body */
    font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}
h3 {
    font-size: 1.2em;
}
button {
    font-size: 1em;
}
/* Header */
#top {
    background-color: #abc8c0;
}
header {
    display: flex;
    justify-content:space-around;
    padding: 5px;
    padding-top: 13px;
    /* border-style: solid; */
}
.hamburger-img {
    width: 20px;
}
.link-list {
    /* border-style: solid; */
    margin: 0;
}
.logo {
    width: 140px;
    /* border-style: solid; */
}
.main-header {
    display: none;
}
.main-subheader {
    font-size: 1em;
    margin-left: -25px;
    /* border-style: solid; */
    width: 100px;
}
.social {
    display: flex;
    flex-direction: column;
}
.social-img {
    width: 30px;
}
.social-img:hover {
    box-shadow: 1x 4px 2px 0px #969696;
}
#date {
    text-align: center;
    background-color: grey;
    padding: 5px;
    margin: 0;
    /* border-style: solid; */
}
/* Hamburger menu */
nav {
    margin: 0 auto;
}
.link-list {
    list-style: none;
    padding: 0;
}
.link-list li:first-child{
    display: block;
}
.link-list li {
    display: none;
}
.link-list a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    font-weight: 700;
}
.responsive a.hamburger {
    color: white;
    background-color: grey;
}
.responsive li {
    display: block;
}
/* Website whic helped me with hamburger menu: https://codepen.io/blazzard-
jason/pen/gmGxaj/ */
/* __Main__ */
main {
    display: flex;
    flex-direction: column;
}
.welcome {
    position: absolute;
    top: 8px;
    left: 16px;
}   
.main-box {
    background-color: #5899e2;
    margin: 10px 0px 10px 0px;
    padding: 5px;
}
/* Hero */
#hero {
    position: relative;
    text-align: center;
}
.hero-img-2 {
    display: none;
}
.call-to-action {
    position: absolute;
    font-size: 1.3em;
    bottom: 16px;
    left: 16px;
    border-radius: 5px;
}
.hero-image{
    max-width: 100%;
}
/* Events */
#events {
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
}
/* Weather */
.weather-title {
    text-align: center;
}
.weather-main-content {
    display: flex;
    justify-content: space-around;
}
.weather-description {
    text-align: center;
}
.wind-speed {
    display: flex;
    justify-content: space-around;
}
.wind-chill {
    display: flex;
    justify-content: space-around;
}
/* News */
#news {
    text-align: center;
}
/*  Company spotlights */
.spotlight-1 {
    text-align: center;
    margin: 7px 10px 0px 10px;
    border-style: solid;
}
.spotlight-2 {
    text-align: center;
    margin: 7px 10px 7px 10px;
    border-style: solid
}
/* Join us */
#join {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    /* border-style: solid; */
}
.join-btn {
    font-size: 1.5em;
    width: 70%;
    padding: 10px;
    /* border-style: solid; */
}
.join-description {
    text-align: center;
    /* border-style: solid; */
}
/* Footer */
footer {
    display: flex;
    flex-direction: column;
    background-color: #abc8c0;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border-style: solid; */
}
#logo-footer {
    margin-top: 20px;
}
#contact {
    /* border-style: solid; */
    text-align: center;
}
.bottom {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
