@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather&family=Raleway:wght@300&family=Roboto+Mono&display=swap');
/* Header */
header {
    width: 100%;
    background-color: #abc8c0;
}
#logo {
    width: 150px;    
}
.top {
    display: flex;
}
.headers {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.main-header {
    font-family: 'Merriweather', serif;
    font-size: 1.4em;
}
.main-subheader {
    font-size: 0.9em;
    margin-top: -10px;
}
.top-bar-nav {
    width: 50px;
    margin: 0;
}
.social-nav {
}
.social-list {
    display: flex;
    align-items: center;
    list-style: none;
    /* border-style: solid; */
    margin-left: -10px;
    padding: 0;
}
#date {
    margin: 20px;
    padding: 5px;
    text-align: center;
    background-color: grey;
}
.social-img {
    width: 30px;
    margin: 3px;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
}
h2 {
    font-family: 'Merriweather', serif;
}
.welcome {
    position: absolute;
    top: 8px;
    left: 16px;
}
h3 {
    font-family: 'Merriweather', serif;
}
li {
    font-family: 'Raleway', sans-serif;
}
a {
    font-family: 'Raleway', sans-serif;
}
.hero {
    position: relative;
    text-align: center;
}
.call-to-action {
    position: absolute;
    font-size: 1.3em;
    bottom: 16px;
    left: 16px;
}
button {
    font-family: 'Raleway', sans-serif;
}
p {
    font-family: 'Raleway', sans-serif;
}
img {
    font-family: 'Raleway', sans-serif;
}
.hero-image{
    max-width: 100%;
}

/* Hamburger menu */
nav {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    
}
.hamburger-img {
    max-width: 20px;
}
.link-list {
    
    list-style: none;
    padding: 0;
}
.link-list li:first-child{
    display: block;
}
.link-list li {
    display: none;
}
.link-list a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    font-weight: 700;
    transition: 0.5s;
}
.responsive a.hamburger {
    color: white;
}
.responsive li {
    display: block;
}
.link-list a.hamburger::before {
}
/* Website whic helped me with hamburger menu: https://codepen.io/blazzard-jason/pen/gmGxaj/ */