/* Media query for large views */
@media only screen and (min-width: 1000px) {
    body {
        margin-left: 20%;
        margin-right: 20%;
        color: white;
    }
    h1, h2 {color: black;}
    p, li, a, button, img {font-size: 1.yem;}
    h2 {font-size: 3em;}
    h3 {font-size: 2.3em;}
    h4 {font-size: 1.8em;}
    /* Header */
    header {
        min-height: 200px;
    }
    .logo {
        height: auto;
        width: 300px;
    }
    .social {
        flex-direction: row;
    }
    .social-img {
        width: 50px;
        margin: 10px;
    }
    .top-bar-nav {
        max-width: fit-content;
        background-color: white;
        /* border-style: solid; */
    }
    .link-list li:hover {
        background-color: black;
    }
    .link-list a:hover {
        color: white;
    }
    .main-header {
        font-size: 5em;
    }
    #date {
        /* font-size: 2em; */
    }
    #msg-box {
        color: black;
    }
    /* Hamburger Menu */
    .link-list {
        display: flex;
        color: #5899e2;
    }
    .link-list li {

        display: block;
        flex: 1 1 auto;
    }
    .link-list a {
        text-align: center;
    }
    .link-list li:first-child {
        display: none;
    }
    /* Main */
    main {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr 1fr 3fr;
    }
    .main-box {
        margin: 5px;
    }
    .welcome {
        color: black;
        font-size: 3.4em;
        left: 70px;
    }
    #hero {
        grid-column: 2/6;
        grid-row: 1/3;
        margin: 5px
    }
    #news {
        grid-area: 3/2/4/6;
    }
    #company-spotlights {
        grid-area: 1/6/4/7;
    }
    .spotlight-1, .spotlight-2 {
        margin: auto;
    }
    }
    #join {
        display: block;
        grid-area: 3/1/4/2;
    }
    #events {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .hero-img-1 {
        display: block;
    }
    .hero-img-2 {
        display: none;
    }
}
