/* Media query for large views */
@media only screen and (min-width: 1000px) {
    body {
        margin-right: 20%;
        margin-left: 20%;
        color: white;
    }
    h1, h2 {color: black;}
    p, li, a, button, img {font-size: 1.4em;}    
    h2 {font-size: 3em;}
    h3 {font-size: 2.3em;}
    h4 {font-size: 1.8em;}
    /* Header */
    header {
        height: auto;
    }
    .social {
        flex-direction: row;
    }
    .social-img {
        width: 50px;
        margin: 10px;
    }
    .top-bar-nav {
        max-width: fit-content;
        /* border-style: solid; */
    }
    .main-header {
        font-size: 5em;
    }
    /* Hamburger Menu */
    .link-list {
        display: flex;
        color: #5899e2;
    }
    .link-list li {
        
        display: block;
        flex: 1 1 auto;
    }
    .link-list a {
        text-align: center;
    }
    .link-list li:first-child {
        display: none;
    }
    /* Main */
    .welcome {
        color: black;
        font-size: 3.4em;
        left: 70px;
    }
}
