/* Media query for medium+ views */
@media only screen and (min-width: 32.5em) {
    /* Hamburger Menu */
    .link-list {
        display: flex;
    }
    .link-list li {
        display: block;
        flex: 1 1 auto;
    }
    .link-list a {
        text-align: center;
    }
    .link-list li:first-child {
        display: none;
    }
}