#primary-color {
    color: #65afff;
    background-color:darkgrey;
}
#secondary-color {
    color: #036d19;
}
#additional-color-1 {
   color: #5899e2;
}
#additional-color-2 {
    color: #daf7dc;
}
#additional-color-3 {
    color: #9ee493;
}
.color {
    font-size: 2em;
}